.nav-tab-list {
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;

	& li.react-tabs__tab {
		/* Shape Of Tab */
		flex-basis: 50%;
		font-weight: bold;
		text-align: center;
		height: 100%;
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.15);

		/* Style of text */
		font-size: 16px;
		color: #293258;
		letter-spacing: 0.23px;

		&.react-tabs__tab--selected {
			box-shadow: inset 0px -6px 0px -2px #5163ba;
		}
	}
}
