.Menu {
  background-color: #5163BA;
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	width: 70px;
	height: 70px;
  user-select: none;
  cursor: pointer;
}
