.PreviewMenu {
  position: relative;
  color: white;
	border-radius: 6px;
	width: 395px;
  height: 70px;
  padding: 15px 22px;
  background: #5163BA;
  will-change: transform;

  & .top {
    height: 20px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;

    & .preview-title {
      color: white;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      cursor: default;
      will-change: transform;
    }

    & .docs {
      text-decoration: underline;
      cursor: pointer;
      display: inline;
      font-size: 12px;
      margin-left: 5px;
      white-space: nowrap;
      margin-right: 35px;
    }
  }

  & a.powered-prismic {
    color: #F5F6F9;
    margin-top: 8px;
    font-size: 12px;
  }

  & .share {
    color: #B6C1FD;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  & .x {
    position: absolute;
    right: 22px;
    top: calc(50% - 9px);
    cursor: pointer;
    user-select: none;
    transition: all .2s;

    &:hover {
      transform: scale(.9);
    }
  }

  & .link {
    margin-left: 5px;
  }
}
