/* ----- WRAPPER CSS ----- */
.wrapper-json-view {
	font-family: "Source Code Pro", monospace;
	font-size: 12px;

	/* ---- REMOVE LEFT INDENT FOR THE FIRST CHILDREN OF AN OBJECT ---- */
	& > ul > li > div > ul > li {
		left: 0 !important;
	}

	& > ul > li {
		left: 0 !important;
	}
}

/* ----- BANNER FOR UID AND METADATA ----- */
.banner-uid {
	padding: 0px 0px 0px 25px;
	position: relative;
	color: #8091a5;
	letter-spacing: 0;
	line-height: 35px;
	background: #eff1f9;
	border-bottom: 1px solid #e0e2ee;
}

.banner-metadata {
	color: #7f8faa;
	letter-spacing: 0.17px;
	padding: 0px 0px 0px 25px;
	line-height: 20px;
}

/* ----- DECORATOR CSS ----- */
.json-view-container {
	line-height: 23px;
	letter-spacing: -0.2px;
	background: #f5f6f9;

	& .icon-toggle {
		width: 13px;
		height: 13px;
		padding-right: 8px;
		vertical-align: middle;
		cursor: pointer;
	}

	& .copy-button {
		font-family: "Source Code Pro", monospace;
		font-size: 9px;
		cursor: pointer;
		color: #48525e;
		background: #ffffff;
		position: absolute;
		right: 3px;
		top: 3px;
		padding: 0px 3px;

		letter-spacing: 0;
		text-align: center;
		line-height: 17px;
		display: none;
	}

	& .key-object {
		color: #5163ba;
		padding: 0;
		vertical-align: middle;
		cursor: pointer;
	}

	& .key-string {
		color: #1e2d77;
		padding: 0;
		vertical-align: middle;
	}

	& .value-string {
		color: #435169;
		vertical-align: middle;
	}
}

.json-view-container:hover {
	background: rgba(81, 99, 186, 0.1);
	border-radius: 3px;

	& .copy-button {
		display: inline-block;
	}
}

.border {
	display: inline-block;
	width: 15px;
	height: 1px;
	background: #bcc2cb;
	vertical-align: middle;

	&:after {
		content: "";
		position: absolute;
		top: -5px;
		left: 0;
		border-left: 1px solid #bcc2cb;
	}

	&.horizontal:after {
		height: 100%;
	}

	&.last-nested:after {
		height: 17px;
	}

	&.with-right-margin {
		margin-right: 4px;
	}
}
