/* ----- WRAPPER CSS ----- */
.wrapper-json-view {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;


    /* ---- REMOVE LEFT INDENT FOR THE FIRST CHILDREN OF AN OBJECT ---- */
    & > ul > li > div > ul > li {
        left: 0 !important;
    }

    & > ul > li {
        left: 0 !important;
    }
}

/* ----- BANNER FOR UID AND METADATA ----- */
.banner-uid {
    padding: 0px 0px 0px 25px;
    position: relative;
    color: #8091A5;
    letter-spacing: 0;
    line-height: 35px;
    background: #EFF1F9;
    border-bottom: 1px solid #E0E2EE;
}

.banner-metadata {
    color: #7F8FAA;
    letter-spacing: 0.17px;
    padding: 0px 0px 0px 25px;
    line-height: 20px;
}

/* ----- DECORATOR CSS ----- */
.json-view-container {
    line-height: 23px;
    letter-spacing: -0.2px;
    background: #F5F6F9;

    & .icon-toggle {
        width: 13px;
        height: 13px;
        padding-right: 8px;
        vertical-align: middle;
        cursor: pointer;
    }

    & .copy-button {
        font-family: 'Source Code Pro', monospace;
        font-size: 9px;
        cursor: pointer;
        color: #48525E;
        background: #FFFFFF;
        position: absolute;
        right: 3px;
        top: 3px;
        padding: 0px 3px;

        letter-spacing: 0;
        text-align: center;
        line-height: 17px;
        display: none;
    }

    & .key-object {
        color: #5163BA;
        padding: 0;
        vertical-align: middle;
        cursor: pointer;
    }

    & .key-string {
        color: #1E2D77;
        padding: 0;
        vertical-align: middle;
    }

    & .value-string {
        color: #435169;
        vertical-align: middle;
    }
}

.json-view-container:hover {
    background: rgba(81,99,186,0.10);
    border-radius: 3px;

    & .copy-button {
        display: inline-block;
    }
}

.border {
    display: inline-block;
    width: 15px;
    height: 1px;
    background: #BCC2CB;
    vertical-align: middle;

    &:after {
       content: '';
       position: absolute;
       top: -5px;
       left: 0;
       border-left: 1px solid #BCC2CB;
    }

    &.horizontal:after {
       height: 100%;
    }

    &.last-nested:after {
       height: 17px;
    }

    &.with-right-margin {
         margin-right: 4px;
     }
}