/* DocumentsSummaryTab */

.documents-summary-tab {
	border-top: 1px solid #e0e2ee;
	background: #ffffff;

	& .small-title {
		font-size: 13px;
		color: #8091a5;
		letter-spacing: 0;
		line-height: 35px;
		background: #f5f6f9;
		margin: 0;
		padding-left: 25px;
		border-bottom: 1px solid #e0e2ee;
	}

	& .document-summary {
		padding: 0px 25px;
		border-bottom: 1px solid #e0e2ee;

		& .wrapper-title-status {
			padding-top: 25px;
			display: inline-block;
			width: 100%;

			/* status */
			& span {
				display: inline-block;
				padding: 2px 5px;
				font-size: 12px;
				color: #53452e;
				letter-spacing: 0;
				border: 0 solid #ffffff;
				border-radius: 1.54px;

				&::first-letter {
					text-transform: uppercase;
				}

				&.live {
					background: #b0e2c9;
				}

				&.draft {
					background: #ffdba2;
				}

				&.release {
					background: #ead9ff;
				}

				&.experiment {
					background: #dce0e5;
				}
			}

			/* title */
			& h2 {
				padding-left: 10px;
				font-size: 16px;
				color: #293258;
				letter-spacing: 0.23px;
				line-height: 20px;
				font-weight: bold;
				display: inline;
			}
		}

		/* summary */
		& p {
			font-size: 14px;
			color: #435169;
			letter-spacing: 0;
			line-height: 26px;
		}
	}
}
