.Collapsible{

}

.Collapsible__trigger{
    height: 70px;
    display: block;
    border-bottom: 1px solid #E0E2EE;
    border-top: 1px solid #E0E2EE;
    padding-left:25px;
    padding-top:15px;
}

.Collapsible__contentOuter{
    background: #F5F6F9;
    padding-left: 25px;
}

.wrapper-trigger{


    & .trigger-title{
        font-size: 16px;
        color: #293258;
        letter-spacing: 0.23px;
        line-height: 20px;
        font-weight: bold;
    }

    & .trigger-subtitle{
        font-size: 13px;
        color: #435169;
        letter-spacing: 0.19px;
        line-height: 20px;
    }

    & .trigger-triangle{
        position: relative;
        left: 370px;
        bottom: 29px;
        background: #3F4A56;
        height: 12px;
        width: 8px;
    }
}
