.Collapsible{
    border-bottom: 1px solid #E0E2EE;
}

.Collapsible__trigger{
    height: 70px;
    display: block;
    padding-left:25px;
    padding-top:15px;

    &.is-open{
      border-bottom: 1px solid #E0E2EE;
    }
}

.Collapsible__contentOuter{
    background: #F5F6F9;
}

.wrapper-trigger{
    cursor:pointer;
    height: 55px;

    & .trigger-title{
        font-size: 16px;
        color: #293258;
        letter-spacing: 0.23px;
        line-height: 20px;
        font-weight: bold;
    }

    & .trigger-subtitle{
        font-size: 13px;
        color: #435169;
        letter-spacing: 0.19px;
        line-height: 20px;
    }

    & .trigger-triangle{
        position: relative;
        left: 370px;
        bottom: 33px;
        color: #3F4A56;
        transition: all 0.2s ease;

        &.active{
           transform: rotate(90deg);
        }
    }
}