/* Base Panel */

.BasePanel {
    background: white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.07), 0 20px 30px 0 rgba(0,0,0,0.10);
    border-radius: 10px;
    width: 435px;
    height: calc(100vh - 160px);
    position: absolute;
    bottom: 100px;
    left: 0;
    overflow-y: auto;
    min-height: 250px;
    max-height: 650px;
    will-change: transform;

  & .top {
    padding: 30px;
    background: white;

    & h2 {
      margin-bottom: 5px;
    }
  }

  & .bottom {
    padding: 30px;
    flex-grow: 1;
  }

  & .x {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

/* DocumentPanel Header */

.DocumentPanel .toolbar-header {
    position: relative;
    height: 100px;
    background-color: #5163BA;
    display: flex;
    flex-wrap: nowrap;

  & .background-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #1E2D77;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  & .Icon {
    position: absolute;
    top: 13px;
    left: 13px;
  }

  & .wrapper-icon {
    flex-basis: 93px;
  }

  & .wrapper-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & h2 {
    font-size: 12px;
    color: #E3E8EE;
    letter-spacing: 0.19px;
    line-height: 20px;
  }

  & h1 {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 20px;
    font-weight: bold;
  }
}

/* DocumentsSummaryTab */

.documents-summary-tab {
  border-top: 1px solid #E0E2EE;
  background: #FFFFFF;

  & .small-title {
    font-size: 13px;
    color: #8091A5;
    letter-spacing: 0;
    line-height: 35px;
    background: #F5F6F9;
    margin: 0;
    padding-left: 25px;
    border-bottom: 1px solid #E0E2EE;
  }

  & .document-summary {
    padding-left: 25px;
    border-bottom: 1px solid #E0E2EE;

    & .wrapper-title-status {
      padding-top: 25px;
      display: inline-block;
      width: 100%;

      /* status */
      & span {
        font-size: 12px;
        color: #53452E;
        letter-spacing: 0;
        padding: 3px 5px 3px 5px;
        border: 0 solid #FFFFFF;
        border-radius: 1.54px;

        &.live {
          background: #B0E2C9;
        }

        &.draft {
          background: #FFDBA2;
        }
      }

      /* title */
      & h2 {
        padding-left: 10px;
        font-size: 16px;
        color: #293258;
        letter-spacing: 0.23px;
        line-height: 20px;
        font-weight: bold;
        display: inline;
      }
    }

    /* summary */
    & p {
      font-size: 14px;
      color: #435169;
      letter-spacing: 0;
      line-height: 26px;
    }
  }
}

/* DocumentPanel any Document (draft label) */

.DocumentPanel .Document {
  & .label {
    padding: 2px 8px;
    border-radius: 4px;
    margin-left: 11px;
    &.gold {
      background: #FFDBA2;
      color: #53452E;
    }
    &.navy {
      background: #5163ba;
      color: #FFFFFF;
    }
  }

  & header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}

/* DocumentPanel Bottom */

.DocumentPanel .bottom {
  & h2 {
    color: #8091A5;
  }

  & .Document {
    margin: 16px 0;
    font-size: 12px;
  }

  /* & .more {
    background: #f7f7f7;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 22px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    color: #5163BA;

    &:hover {
      color: #4050a0;
    }
  } */
}

/* PreviewPanel */

.PreviewPanel .Draft {
  margin-bottom: 20px;

  & h3 {
    margin-bottom: 4px;
  }
}

/* SharePanel */

.SharePanel .bottom {
  /* Label */
  & h2 {
    color: #A5A5AE;
    margin-bottom: 8px;
  }

  /* URL */
  & .url {
    background: #EDEDED;
    padding: 20px 15px;
    border: 1px solid #E3E3E3;
    margin-bottom: 30px;
    user-select: all;

    &::before {
      content: url('link.svg');
      margin-right: 10px;
    }
  }

  /* Copy button */
  & .copy {
    border-radius: 4px;
    width: 100%;
    text-align: center;
    padding: 16px;
    color: white;
    background: #5163BA;
    user-select: none;
    cursor: pointer;

    &:hover {
      background: #4050a0;
    }
  }
}
