@import "./comment-overlay.css";
@import "./slice-overlay.css";

:host {
	--prismic-overlay-ui-scale: 1;

	display: block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

* {
	box-sizing: border-box;
}
